/* Global */
span{
	display: inline-block;
	margin: auto;
}

div{
	display: block;
}

body{
	font-family: sans-serif;
	font-size: 12pt;
}

header{
	font-size: 8pt;
	padding : 5pt;
	background-color: LightBlue;
}

div.row{
    margin: 10px;
}


nav strong{
	background: #DDCAF7;
	padding: 3px;
}

nav a:hover{
	border: 1px solid purple;
	color: Purple;
	text-decoration: none;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}

div.list-group{
    margin-bottom:5px;
}

/* main */

/*** Logo */

#logo_main{
    width: 430px;
    margin: 100px auto;
}

#logo{
    width: 215px;
}

#logo #logo_image{
    width: 215px;
    height: 25px;
}

/*** Search Bar */

#search{
    width: 1000px;
    margin: 0 auto;
}

legend{
    display: none;
}

/* Category */
/*** Category_Logo */
#category_image_big{
    height: 20px;
    width: 60px;
}

#category_image_small{
    height: 15px;
    width: 60px;
}

/*** Category_Selector */

div.modal-header{
    background: aqua;
}

li.tagged{
    background: darkgrey;
}

li.tagged a{
    font-weight: bold;
    color: Black;
}

/* Page_Option*/
/*** Page_Option_Logo */
#setting_image_big{
    height: 20px;
    width: 75px;
}

#setting_image_small{
    height: 15px;
    width: 75px;
}

/*** Page_Option_Selector */




/* Article */
/*** options */

#advanced_option_selector{
    width: 100%;
    padding: 5px;
    margin-bottom: 100px;
}

.option_header{
    background-color: LightBlue;
}

#option_selector_price_list input{
    height: 20px;
}




/*** section */
#item_contents{
    width: 80%;
    margin: auto;
}

/***** No Item */

#no_item{
    margin: auto;
    text-align: center;
}

/***** Item */

div.content{
	font-size: 10pt;
    border-bottom: 1px solid gray;
	width : 90%;
}

div.content > span{
    height: 100pt;
}

.content img{
	width : 100pt;
	height: 100pt;
}

.content_name{
	font-family: serif;
	font-size: 10pt;
}

.content_price{
	font-family: serif;
	font-size: 12pt;
	font-weight: bold;
	color: Red;
}

.content_store{
	font-size: 12pt;
}

/* navigation */

nav{
    font-size: 10pt;
    margin: auto;
}

ul.pagination{
    display: table;
    width: 50%;
    margin: 10px auto;
}

nav a{
    border: 1px solid #FFFFFF00;
    padding: 3px;
    font-weight: bold;
    color: Purple;
}